{% load staticfiles %}

<html>
    <head>
        <title>DataBase Project</title>
        <link rel="stylesheet" href="{% static 'db_proj/db_proj.css' %}" >
    </head>

    <header>
      <div class="div2">
        <div class="HeaderStyle">
          State of public services in U.S
        </div>
      </div>
    </header>

     <!-- <body>
       <div class="div1">

           {% block content %}
           {% endblock %}
       </div>
   </body> -->

<!-- href="{% url 'home_page' %}#About" -->
<a href="{% url 'home_page' %}#home_page">
  <div class="div1"> <div class="button1">
    Home
  </div>
</a>

<a href="{% url 'home_page' %}set_of_data">
  <div class="button1">
    Set Of Data
  </div>
</a>

<a href="{% url 'home_page' %}queries">
  <div class="button1">
    Queries
  </div>
</a>

<a href="{% url 'home_page' %}about_us">
  <div class="button1">
    About Us
  </div>
</a>
    <!-- Here you put whatever you want such as data or quires  -->
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<div class="BodyStyle"> The website and the database is implemented and designed by:<br/><br/>
    &nbsp;&nbsp;&nbsp;&nbsp;Dario Orta Santana<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;Douglas S Hewitt <br/>
    &nbsp;&nbsp;&nbsp;&nbsp;Alwaleed Alkhodairi<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;Khalid Alnamlah<br/>
</div>
<!-- Here you put whatever you want such as data or quires  -->

</div>

    <footer> <div class="div2">
      <div class="HeaderStyle">
      Information and Database Management Systems I
      </div>
    </div>
    </footer>
</html>
