{% load staticfiles %}

<html>
<head>
  <title>DataBase Project</title>
  <link rel="stylesheet" href="{% static 'db_proj/db_proj.css' %}">
</head>

<header>
  <div class="div2">
    <div class="HeaderStyle">
      Employment Data in the United States
    </div>
  </div>
</header>

<body>

<a href="{% url 'home_page' %}">
  <div class="div1"> <div class="button1">
    Home
  </div>
</a>

<a href="{% url 'set_of_data' %}">
  <div class="button1">
    Set Of Data
  </div>
</a>

<a href="{% url 'queries' %}">
  <div class="button1">
    Queries
  </div>
</a>

<a href="{% url 'about_us' %}">
  <div class="button1">
    About Us
  </div>
</a>

<!-- Here you put whatever you want such as data or quires  -->

<h1>Average is {{ average }} </h1>

<!-- end  -->
</div>
</body>

<footer> <div class="div2">
  <div class="HeaderStyle">
    Information and Database Management Systems I
  </div>
</div>
</footer>

</html>
