{% load staticfiles %}

<html>
<head>
  <title>DataBase Project</title>
  <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="{% static 'db_proj/db_proj.css' %}" >
  <!-- <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> -->
</head>

<header>
  <div class="div2">
    <div class="HeaderStyle">
      Employment Data in the United States
    </div>
  </div>
</header>

<body>

<a href="{% url 'home_page' %}">
  <div class="div1"> <div class="button1">
    Home
  </div>
</a>

<a href="{% url 'set_of_data' %}">
  <div class="button1">
    Set Of Data
  </div>
</a>

<a href="{% url 'queries' %}">
  <div class="button1">
    Queries
  </div>
</a>

<a href="{% url 'about_us' %}">
  <div class="button1">
    About Us
  </div>
</a>

<!-- Here you put whatever you want such as data or quires Down -->
<h1>Selects the average salary in the us</h1>
<a href="{% url 'query1' %}">
  <div class="button1">
    Query 1
  </div>
</a>
<h1>Selects the Occupation and yearly salary of the Occupation with the largest salary</h1>
<a href="{% url 'query2' %}">
  <div class="button1">
    Query 2
  </div>
</a>
<h1>Selects the top 10 names and average salaries from states with the top average salaries</h1>
<a href="{% url 'query3' %}">
  <div class="button1">
    Query 3
  </div>
</a>
<h1>Selects the Name of the state and the WPC(wealth per citizen)defined as the GDP of state/Population of the states with the 5 highest wealth per citizen</h1>
<a href="{% url 'query4' %}">
  <div class="button1">
    Query 4
  </div>
</a>
<h1>Find the company names and the average salaries of the company with the 10 highest average salary</h1>
<a href="{% url 'query5' %}">
  <div class="button1">
    Query 5
  </div>
</a>
<h1>Count the number of entries in the people table</h1>
<a href="{% url 'query6' %}">
  <div class="button1">
    Query 6
  </div>
</a>
<!-- Here you put whatever you want such as data or quires Up -->

</div>


</body>

<footer> <div class="div2">
  <div class="HeaderStyle">
    Information and Database Management Systems I
  </div>
</div>
</footer>
</html>
