body {
    background-image: url("images/128-168.jpg");
    text-align: center;
}

html, body{
    height: 100%;
}

a {text-decoration: none; }

*{
font-family: Tahoma;
color: white;
font-size: 26px;
}

.div1 {
  background: url("images/128-184.jpg") repeat;
    width: 70%;
    height: 100%;
    border: 1px solid black;
    text-align: left;
    margin: auto;
}

.div2 {
  background: url("images/128-148.jpg") repeat;
    width: 70%;
    /*height: 100%;*/
    border: 0.5px solid black;
    margin: auto;
}

.HeaderStyle{
  padding: 100px;
  font-family: Tahoma;
  color: lightgray;
  font-size: 40px;
  font-weight: bold;
}

.BodyStyle{

  font-family: Tahoma;
  color: lightgray;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.button1 {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 80px;
    margin-left: 8px;
}
